[submodule "hardwares/marvin_ros2_control"]
	path = hardwares/marvin_ros2_control
	url = https://github.com/fiveages-sim/marvin-ros2-control.git
[submodule "hardwares/unitree_ros2_control"]
	path = hardwares/unitree_ros2_control
	url = git@github.com:fiveages-sim/unitree-ros2-control.git
	branch = main
[submodule "hardwares/dobot_ros2_control"]
	path = hardwares/dobot_ros2_control
	url = git@github.com:fiveages-sim/dobot-cr-ros2-control.git
	branch = main
[submodule "hardwares/rokae_ros2_control"]
	path = hardwares/rokae_ros2_control
	url = git@github.com:fiveages-sim/rokae-ros2-control.git
	branch = main
[submodule "hardwares/eyou_ros2_control"]
	path = hardwares/eyou_ros2_control
	url = git@github.com:fiveages-sim/eyou-ros2-control.git
	branch = main
[submodule "hardwares/modbus_ros2_control"]
	path = hardwares/modbus_ros2_control
	url = https://github.com/fiveages-sim/modbus-ros2-control.git
[submodule "libraries/lina_planning"]
	path = libraries/lina_planning
	url = git@github.com:fiveages-sim/lina_planning.git
[submodule "libraries/ocs2_humanoid"]
	path = libraries/ocs2_humanoid
	url = git@github.com:fiveages-sim/ocs2-humanoid.git
